<h1>Bulk Discount Id: <%= @bulk_discount.id %> </h1>


<div class="attributes">
  <p>Percentage Discounted: <%= @bulk_discount.percentage %></p>
  <p>Quantity Threshold: <%= @bulk_discount.quantity_threshold %></p>
</div>
