<h1>Discount Dashboard</h1>
<div id="discount #{discount.id}">
<% @discounts.each_with_index do |discount, index| %>
  <h2>Discount:#<%= index +1  %></h2>
  <p>Discount Rate:<%= discount.discount_rate %></p>
  <p>Discount Threshold:<%= discount.threshold %></p>
<% end %>
</div>
