<h1>Discount Dashboard</h1>
<div id="discount #{discount.id}">
<% @discounts.each_with_index do |discount, index| %>
  <h2> <%= link_to "Discount: #{index +1}", "/merchants/#{discount.merchant.id}/#{discount.id}"  %></h2>
  <p>Discount Rate:<%= discount.discount_rate %></p>
  <p>Discount Threshold:<%= discount.threshold %></p>
<% end %>
</div>
